<section class="featured-places" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <!-- <span>Featured Places</span> -->
                    <h2>Our Recommendations</h2>
                </div>
            </div> 
        </div> 
        <div class="row">
            <div *ngIf='tour1' class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="thumb">
                        <img src="assets/img/tours/{{tour1.tourimg}}" style="height:148px" alt="">
                    </div>
                    <div class="down-content">
                        <h4>{{tour1.tourname}}</h4>
                     
                        <p>{{tour1.tourdesc.substring(1,400)}}</p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-button">
                                    <a routerLink='/tourdetails/{{tour1.tourid}}'>Continue Reading</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 

            <div *ngIf='tour2' class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="thumb">
                        <img src="assets/img/tours/{{tour2.tourimg}}" style="height:148px" alt="">
                    </div>
                    <div class="down-content">
                        <h4>{{tour2.tourname}}</h4>
                        <p>{{tour2.tourdesc.substring(1,400)}}</p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-button">
                                    <a routerLink='/tourdetails/{{tour2.tourid}}'>Continue Reading</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 

            <div *ngIf='tour3' class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="thumb">
                        <img src="assets/img/tours/{{tour3.tourimg}}" style="height:148px" alt="">
                    </div>
                    <div class="down-content">
                        <h4>{{tour3.tourname}}</h4>
                        <p>{{tour3.tourdesc.substring(1,400)}}</p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-button">
                                    <a routerLink='/tourdetails/{{tour3.tourid}}'>Continue Reading</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</section>
