<!-- {{categories|json}} -->
<section class="featured-places" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <!-- <span>Featured Places</span> -->
                    <h2>Popular places</h2>
                </div>
            </div> 
        </div> 

        <div *ngIf='categories' class="row">
            <div *ngFor='let category of categories'>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="featured-item">
                        <div class="thumb">
                            <img src="assets/img/category/{{category.catimg}}" alt="" style="height:148px">
                            <div class="overlay-content">
                            </div>
                        </div>
                        <div class="down-content">
                            <h4>{{category.catname}}</h4>
                            <p class="place-desc limit-content">{{category.catdesc.substring(0,400)}}</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="text-button">
                                        <ng-template [ngIf]="category.hassubcat" [ngIfElse]="tourdetail">
                                            <a [routerLink]="['/subcat',category.catid]"><b>View more</b></a> 
                                        </ng-template>
                                        <ng-template #tourdetail>
                                            <!-- <a [routerLink]="['/tourdetails/maincat/',category.catid]"><b>Details</b></a> -->
                                            <a [routerLink]="['/gettourbycat/',category.catid]"><b>Details</b></a>
                                            <!-- <a [routerLink]="['/gettourbycat/',category.catid]"><b>Details</b></a> -->
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section> 