
<section class="banner" id="top">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="banner-caption">
                    <div class="line-dec"></div>
                    <h2 style="color: black;font-weight: 400; font-family: Arial, Helvetica, sans-serif;font: outline;">Find Your Travel Story</h2>
                    <span style="color: black;font-weight: 400; font-family: Arial, Helvetica, sans-serif;">Book, Travel, Relax & Repeat</span>
                </div>
            </div>
        </div>
    </div>
</section>
<app-home-cat></app-home-cat>
  <app-places></app-places>
  <app-services></app-services>
  <app-contactus></app-contactus>
  
