<section class="featured-places" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Categories</h2>
                </div>
            </div>
        </div>
        <div ng-If='categories'>
            <div class="row" >
                <div class="col-md-4 col-sm-6 col-xs-12" style="margin-bottom:20px;" *ngFor='let cat of categories'>
                    <div class="featured-item">
                        <div class="thumb">
                            <img [src]="cat.image" width="750px" height="250px"  alt="img">
                        </div>
                        <div class="down-content">
                            <h4>{{cat.catName}}</h4>
                            <p>{{cat.catDesc}}</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="text-button">
                                        <ng-template [ngIf]="cat.hassubcat" [ngIfElse]="tourdetail">
                                            <a [routerLink]="['/subcat',cat.catid]"><b>View more</b></a> 
                                        </ng-template>
                                        <ng-template #tourdetail>
                                            <a [routerLink]="['/gettourbycat/',cat.catid]"><b>Details</b></a>
                                        </ng-template> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div> 
</section>
