<div class="container">
  <form #signupForm="ngForm" style="border:1px solid #ccc">
    <div class="col-md-6"  >
      <h1>Sign Up</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>

      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username"  #uname="ngModel" name="Uname" [(ngModel)]="uData.name" required>
      <span class="error" *ngIf="uname.invalid && uname.touched">Please enter valid name</span><br>

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" #email="ngModel" [(ngModel)]="uData.email" email required>
      <span class="error" *ngIf="email.invalid && email.touched">Please enter valid email id</span><br>

      <label for="mobile"><b>Mobile</b></label>
      <input type="text" placeholder="Enter Mobile No" name="mobile" #mobile="ngModel" [(ngModel)]="uData.mobile" minlength="10" maxlength="13" pattern="[0-9]*"  required>
      <span class="error" *ngIf=" mobile.invalid && mobile.touched">please enter valid mobile number</span><br>

      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password"#password="ngModel" [(ngModel)]="uData.password" required>

      <!-- <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" required> -->

      <div class="clearfix">
        <button type="button" class="cancelbtn" (click)="clearFields()" >Cancel</button>
        <button type="submit" class="signupbtn" [disabled]="signupForm.invalid" (click)="addUser()">Sign Up</button>
      </div>
    </div>
  </form>
</div>