<div class="wrap">
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12" >
                    <button id="primary-nav-button" type="button">Menu</button>
                    <a routerLink='/home'>
                        <div  class="logo" routerLink='/home'>
                            <img   src="../../../assets/img/FirastiLogo.jpg" alt="Logo" style="height: 60px; width: 120px;" >
                        </div>
                    </a>
                    <nav id="primary-nav" class="dropdown" style="height: 20px; color: black;font-weight: 700;">
                        <!-- [routerLink]="['/category/all']"  -->
                        <ul class="dropdown menu" style="font-size: 20%; ">
                            <li ><a routerLink='/home' style="font-weight: 700; font-size: 20px;">Home</a></li>
                            <li><a  style="font-weight: 700; font-size: 20px;" >Category</a>
                                <ul class="sub-menu" >
                                    <li><a [routerLink]="['/subcat/1']" style="font-weight: 700; font-size: 20px;">International</a></li>
                                    <li><a [routerLink]="['/subcat/2']" style="font-weight: 700; font-size: 20px;">Domestic</a></li>
                                    <li><a [routerLink]="['/gettourbycat/3']" style="font-weight: 700; font-size: 20px;">Varsha Sahal</a></li>
                                </ul>
                            </li>
                            <!-- <li><a routerLink="/gallery" style="font-weight: 700; font-size: 20px;">Gallery</a></li> -->
                            <!-- <li><a href="#services" style="font-weight: 700; font-size: 20px;">Our Services</a></li> -->
                            <li>
                                <p>
                                 <span matBadge="4" matBadgeOverlap="false"><a routerLink='/profile' style="font-weight: 700; font-size: 20px;">Profile</a></span>
                                </p>
                            </li>
                            <li>
                                <a class="scrollTo" data-scrollTo="login" routerLink="login" *ngIf='!this.loginService.user' Button style="font-weight: 700; font-size: 20px;">Login</a>
                                <a class="scrollTo" data-scrollTo="logout" (click)="logout()" *ngIf='this.loginService.user' Button style="font-weight: 700; font-size: 20px;">Logout</a>
                            </li>
                        </ul>
                    </nav><!-- / #primary-nav -->
                </div>
            </div>
        </div>
    </header>
</div>