 <!-- {{tours|json}}  -->
<section class="featured-places" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <!-- <span>Featured Places</span> -->
                    <h2>Popular places</h2>
                </div>
            </div> 
        </div> 

        <div *ngIf='tours' class="row">
            <div *ngFor='let tour of tours'>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="featured-item">
                        <div class="thumb">
                            <img src="assets/img/tours/{{tour.tourimg}}" alt="" style="height:148px;">
                            <div class="overlay-content">
                            </div>
                        </div>
                        <div class="down-content">
                            <h4>{{tour.tourname}}</h4>
                            <p class="limit-content">{{tour.tourdesc.substring(0,400)}}</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="text-button">
                                        <a [routerLink]="['/tourdetails',tour.tourid]"><b>Details</b></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!tours || tours.length==0">
            <p>No tours to display</p>
        </div>
    </div>
</section>  