<section class="contact" id="contact">
    <div class="container">
        <div class="col-md-10 col-md-offset-1">
            <div id="modal" class="modal">
              <!-- Modal Content -->
              <div class="modal-content">
                <div class="close fa fa-close"></div>
                <div class="row">
                    <div class="col-md-8"> 
                        <div class="left-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="section-heading">
                                        <span>Talk To Us</span>
                                        <h2>Let's have a discussion</h2>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                  <fieldset>
                                    <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                                  </fieldset>
                                </div>
                                 <div class="col-md-6">
                                  <fieldset>
                                    <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject..." required="">
                                  </fieldset>
                                </div>
                                <div class="col-md-12">
                                  <fieldset>
                                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                                  </fieldset>
                                </div>
                                <div class="col-md-12">
                                  <fieldset>
                                    <button type="submit" id="form-submit" class="btn">Send Message</button>
                                  </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="right-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="content">                                          
                                        <div class="section-heading">
                                            <span>More About Us</span>
                                            <h2>Firasti Tours</h2>
                                        </div>
                                        <p></p>
                                        <ul>
                                            <li><span>Phone:</span><a href="#">010-050-0550</a></li>
                                            <li><span>Email:</span><a href="#">firasti@gmail.com</a></li>
                                            <li><span>Address:</span><a href="#">Andheri,Mumbai</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>      
              </div>
            </div>
        </div>
    </div>
</section>
