<!-- <p>booking works!</p>
{{tourid}}
<pre>
    {{tour|json}}
</pre>
<pre>
    {{tourdates|json}}
</pre>

<pre>
    {{touritr|json}}
</pre> -->
<!-- <button (click)="onbook()">Book</button> -->

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-10">
            <div class="row">
                <!-- <label>Details:</label> -->
                <div>
                    <ngTemplate *ngIf='tour'>
                        <img src="assets/img/tours/{{tour.tourimg}}" style="max-height: 500px;">
                        <h3>{{tour.tourname}}</h3>
                        <p>{{tour.tourdesc}}</p>
                    </ngTemplate>
                </div>
            </div>
            <div class="row">
                <form [formGroup]="bookForm" (ngSubmit)="onSubmit(bookForm)" novalidate>
                    <div>
                        <input type="hidden" name="bk_id" formControlName="bk_id"/>
                        <input type="hidden" name="user_id" formControlName="user_id"/>
                        <input type="hidden" name="bk_tour_id" formControlName="bk_tour_id"/>
                        <input type="hidden" name="cst_id" formControlName="cst_id"/>
                    </div>
                    
                    <div class="form-group">
                        <label>Package selection - date</label>
                        <select  class="form-control"  name="dt_id" formControlName="dt_id" >
                            <option *ngFor='let date of tourdates' [ngValue]="date">{{date.startdt}} to {{date.enddt}}</option>
                        </select>
                    </div>
                    <div class="error" style="color:red" *ngIf="dt_id.invalid && (dt_id.touched || submitted)">
                        <label *ngIf="dt_id.errors.required">This field is required</label>
                    </div>


                    <!-- <div  class="error" style="color:red" *ngIf="cst_id.invalid && (cst_id.touched || submitted)">
                        <label *ngIf="cst_id.errors.required">This field is required</label>
                    </div> -->

                    <div class="form-group">
                        <label>Number of persons</label>
                        <input type="number" class="form-control" name="no_of_person" formControlName="no_of_person"/>
                    </div>
                    <div class="error" style="color:red" *ngIf="no_of_person.invalid && (no_of_person.touched || submitted)">
                        <label *ngIf="no_of_person.errors.required">This field is required</label>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Number of Adults</label>
                        <input type="number" class="form-control" name="no_of_adults" formControlName="no_of_adults"/>
                    </div>
                    

                    <div class="form-group col-md-6">
                        <label>Number of Children</label>
                        <input type="number" class="form-control" name="no_of_children" formControlName="no_of_children"/>
                    </div>
                    
                    <p style="color:red;">{{errormsg}}</p>

                    <div class="vas-obs vas-selected">
                        <div class="cost-obs-text checkbox-container col-md-6">   
                            <input type="checkbox" name="cost0" formControlName="cost0"/>Twin Sharing :  7000
                        </div>
                        <div class="form-group col-md-3">
                            <input type="number" class="form-control" name="ip0" formControlName="ip0"/>
                        </div>
                        <div class="cost-obs-text checkbox-container col-md-6">   
                            <input type="checkbox" name="cost1" formControlName="cost1"/> Single : 4000 
                        </div>
                        <div class="form-group col-md-3">
                            <input type="number" class="form-control" name="ip1" formControlName="ip1"/>
                        </div>
                        <div class="cost-obs-text checkbox-container col-md-6">   
                            <input type="checkbox" name="cost2" formControlName="cost2"/> Extra Bed : 2500 
                        </div>
                        <div class="form-group col-md-3">
                            <input type="number" class="form-control" name="ip2" formControlName="ip2"/>
                        </div>
                        <div class="cost-obs-text checkbox-container col-md-6">   
                            <input type="checkbox" name="cost3" formControlName="cost3"/> Child with Bed : 2000 
                        </div>
                        <div class="form-group col-md-3">
                            <input type="number" class="form-control" name="ip3" formControlName="ip3"/>
                        </div>
                        <div class="cost-obs-text checkbox-container col-md-6">   
                            <input type="checkbox" name="cost4" formControlName="cost4"/> Child without Bed : 1000 
                        </div>
                        <div class="form-group col-md-3">
                            <input type="number" class="form-control" name="ip4" formControlName="ip4"/>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label>Total cost</label>
                        <input type="number" class="form-control" name="tot_cost" readonly formControlName="tot_cost"/>
                    </div>

                    <div class="col-md-12">
                        <input type="submit" class="btn btn-info" value="Book">
                    </div> 
                </form>
            </div>
        </div>
    </div>
</div>

