<!-- {{subcategories|json}} -->
<section class="featured-places" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <!-- <span>Popular places</span> -->
                    <h2>Popular places</h2>
                </div>
            </div> 
        </div> 

        <div *ngIf='subcategories' class="row">
            <div *ngFor='let category of subcategories'>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="featured-item">
                        <div class="thumb">
                            <img [src]="category.placeImg" style="height: 148px;" alt="">
                            <div class="overlay-content">
                            </div>
                        </div>
                        <div class="down-content">
                            <h4>{{category.title}}</h4>
                            <!-- <p class="limit-content">{{category.subcatdesc.substring(0,400)}}</p> -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="text-button">
                                        <a [routerLink]="['/tour',category.catid,category.subcatid]"><b>View more</b></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!subcategories || subcategories.length==0">
            <p>No sub-categories to display</p>
        </div>
    </div>
</section> 