<div class="container error-page" style="height:600px;align-content: center;">
    <div class="row text-center">
      <div class="error-main">
        <div class="row">
          <h1 class="m-0">404</h1>
          <h2>Page not found</h2>
          <h3>Oops! Looks like you are lost</h3>
      </div>
    </div>
  </div>
</div>