<div class="container">
    <footer>
        <div class="row">
            <div class="col-md-4">
                <div class="about-veno">
                    <!-- <div class="logo">
                        <img src="../../../assets/img/FirastiLogo.jpg" style="width: 120px; height: 60px;" alt="Firasti Logo">
                    </div>  -->
                    <!-- <p>Location.....</p> -->
                    <div id="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3769.909074989804!2d72.83070571473029!3d19.111644387067496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9c3a5e26d7b%3A0x89a89f343cff9c29!2sOnline%20Python%20%40%20SM%20VITA!5e0!3m2!1sen!2sin!4v1611040468990!5m2!1sen!2sin" width="80%" height="250px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <div class="useful-links">
                    <div class="footer-heading">
                        <h4>Useful Links</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <ul>
                                <!-- <li><a href="#"><i class="fa fa-stop"></i>Help FAQs</a></li> -->
                                <li><a routerLink="/signup"><i class="fa fa-stop"></i>Register</a></li>
                                <li><a routerLink="/login"><i class="fa fa-stop"></i>Login</a></li>
                                <!-- <li><a href="#"><i class="fa fa-stop"></i>More About Us</a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="contact-info">
                    <div class="footer-heading">
                        <h4>Contact Information</h4>
                    </div>
                    <p></p>
                    <ul>
                        <li><span>Phone:</span><a href="tel:+91-7208419482">+91-7208419482</a></li>
                        <li><span>Email:</span><a href="mailto:firasti@gmail.com">firasti@gmail.com</a></li>
                        <li><span>Address:</span><a href="#">Andheri,Mumbai-400059</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>