<!-- <p>tour-detail works!</p>
{{tourid}}
    <input type="hidden" [(ngModel)]="tourid" />
<pre>
    {{tour|json}}
</pre>
<pre>
    {{tourdates|json}}
</pre>
<pre>
    {{tourcosts|json}}
</pre>
<pre>
    {{touritr|json}}
</pre>  -->

<div class="destination_details_info">
    <div class="container">
        <div class="row justify-content-center">
            <div *ngIf="tour" class="col-lg-10 col-md-10">
                <div class="feature-img">
                    <img class="img-fluid" src="assets/img/tours/{{tour.tourimg}}" alt="">
                </div>
                <div class="destination_info">
                    <h3>{{tour.tourname}}</h3>
                    <p>{{tour.tourdesc}}</p>
                    <h3>Iternary</h3>
                    <div *ngFor='let itr of touritr' class="single_destination">
                        <h4>Day-{{itr.dayno}}</h4>
                        <p>{{itr.desc}}</p>
                    </div>
                </div>
            </div>

            <div *ngIf="tourdates" class="col-lg-10 col-md-10">
                <h3>Package dates</h3>
                <!-- <ul class="list-group">
                    <li *ngFor='let date of tourdates' class="list-group-item"><b>{{date.startdt}} &nbsp;&nbsp;To&nbsp;&nbsp; {{date.enddt}}</b></li>
                </ul> -->
            <table class="table" style="width:80%">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor='let date of tourdates; let i=index;'>
                    <th scope="row">{{i+1}}</th>
                    <td>{{date.startdt}}</td>
                    <td>{{date.enddt}}</td>
                  </tr>
                </tbody>
            </table>
            </div>

            <div *ngIf="tourcosts" class="col-lg-10 col-md-10">
                <h3>Package Type and cost</h3>
                <!-- <ul class="list-group list-group-flush">
                    <li *ngFor='let cost of tourcosts' class="list-group-item"><b>{{cost.csttype}}&nbsp;&nbsp;--&nbsp;{{cost.cost}}</b></li>
                </ul> -->
                <table class="table" style="width:80%">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th>Type</th>
                        <th>Cost</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor='let cost of tourcosts; let i=index;'>
                        <th scope="row">{{i+1}}</th>
                        <td>{{cost.csttype}}</td>
                        <td>{{cost.cost}}</td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <button type="button" (click)="onbook()" class="btn btn-info">Go to book</button>
    </div>
</div>


