<div class="container " style="background-color:#f1f1f1">
  <form #userForm="ngForm">
    <div class="imgcontainer">
      <img src="assets/img/profile3.png" alt="Avatar" class="avatar"  width="10px">
    </div> 

    <div class="col-md-3"></div>

    <div class="container col-md-6" style="background-color:#f1f1f1">
      <label for="uname"><b>Email Id</b></label>
      <input type="text" placeholder="Enter Username" #email="ngModel" name="uname" [(ngModel)]="loginData.email" email required>
      <span class="error" *ngIf="email.invalid && email.touched">Enter valid Email Id</span><br>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" #psw="ngModel" name="psw" [(ngModel)]="loginData.password" required>
      <span class="error" *ngIf="psw.invalid && psw.touched">Enter valid Password</span><br>
  
      <button type="submit" (click)="checkUserAuth()" [disabled]="userForm.invalid">Login</button><br>
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Don't have an account?  <a routerLink="/signup"><b>Sign up</b></a></span>
    </div>
    
    <!-- <div class="container" style="background-color:#f1f1f1">
    </div> -->
  </form>
  
</div>
