<!-- {{user|json}} -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 style="text-align: center;">Welcome to Firasti....</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-5">
            <div>
                <img src="assets/img/profile.png"
                    style="height: auto; width: auto;" alt="">
                <h3><button class="btn btn-primary" style="padding:10px 30px;"> Edit Profile</button> </h3>
            </div>
        </div>
        <div class="col-md-7">
            <h2>Name : {{user.name}}</h2>
            <h2>Mobile : {{user.mobile}}</h2>
            <h2>Email : {{user.email}}</h2>
           <!-- <h3><button class="btn btn-primary"> Book</button> </h3>  -->
        </div>
    </div>
    <hr>
    <!-- <button class="btn-primary" (click)='getMyHistory()'>Show History</button> -->
    <a class="btn btn-primary" (click)='getMyHistory()' data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Show History
    </a>

    <div *ngIf='showHistory' class="collapse" id="collapseExample">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 style="text-align: center;">Booking History</h3>
                <!-- <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search ..."> -->
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tourname</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Amount</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor='let tour of history; let i= index;'>
                        <!-- <th scope="row">{{i}}</th> -->
                        <td><b>{{i+1}}</b></td>
                        <td>{{tour.tourname}}</td>
                        <td>{{tour.startdate}}</td>
                        <td>{{tour.enddate}}</td>
                        <td>{{tour.cost}}</td>
                      </tr>
                    </tbody>
                  </table>  
                </div>
            </div>
        </div>
    </div>
</div>